<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange.android.activitylifecycle.app" >

    <application
        android:label="@string/app_name" >
        <activity android:name="com.orange.android.activitylifecycle.app.Activity1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.orange.android.activitylifecycle.app.Activity2" >
        </activity>
        <activity android:name="com.orange.android.activitylifecycle.app.Activity3" >
        </activity>
    </application>

</manifest>
